<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome | Grevity</title>
    <meta charset="utf-8" />
<script data-ad-client="ca-pub-2908013958725469" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-white py-0">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              class="nav-logo"
              src="../assets/images/logo.png"
              alt="Grevity"
            />
            <span
              class="nav-brand"
              style="
                margin-top: 18px;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              "
              >Grevity</span
            >
          </a>
        </div>
      </nav>
    </header>
    <!-- header section end -->

    <!-- main section start -->
    <main role="main">
      <!-- banner section start -->
      <section>
        <div class="container">
          <div class="row justify-content-md-between align-items-lg-center">
            <div
              class="col-sm-12 col-md-8 col-lg-4 mt-5 mt-lg-0 pt-5 pt-lg-0 mb-5 mb-sm-0"
            >
              <h2 class="display-4 mb-3">
                Introducing <span class="selected-logo">Grevity</span>
              </h2>
              <p class="text-muted">
                The Best Place For Best Software. We develop innovative and
                creative products and services that provide total communication
                and information solutions, No matter what platform your business involves. 
              </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-8 d-none d-lg-inline-block">
          
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 245 250"
              >
                <defs>
                  <linearGradient
                    id="linear-gradient"
                    x1="925.54"
                    y1="502.67"
                    x2="925.54"
                    y2="553.54"
                    gradientTransform="matrix(1, 0, -0.19, 1, -741.08, -420.15)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#fff" />
                    <stop offset="1" />
                  </linearGradient>
                  <clipPath
                    id="clip-path"
                    transform="translate(-841.6 -420.15)"
                  >
                    <ellipse
                      class="cls-1"
                      cx="920.45"
                      cy="511.32"
                      rx="12.07"
                      ry="10"
                      transform="translate(-104.4 752.88) rotate(-42.32)"
                    />
                  </clipPath>
                  <linearGradient
                    id="linear-gradient-2"
                    x1="88.28"
                    y1="138.15"
                    x2="88.28"
                    y2="106.6"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#fff" />
                    <stop offset="1" stop-color="#392ecf" />
                  </linearGradient>
                  <linearGradient
                    id="linear-gradient-3"
                    x1="1064.92"
                    y1="566.28"
                    x2="1064.92"
                    y2="537.08"
                    gradientTransform="matrix(-1, 0, 0, 1, 1214.17, -420.15)"
                    xlink:href="#linear-gradient-2"
                  />
                  <linearGradient
                    id="linear-gradient-4"
                    x1="1184.67"
                    y1="514.85"
                    x2="1184.67"
                    y2="561.94"
                    gradientTransform="matrix(-1, 0, 0.19, 1, 1235.57, -420.15)"
                    xlink:href="#linear-gradient"
                  />
                  <clipPath
                    id="clip-path-2"
                    transform="translate(-841.6 -420.15)"
                  >
                    <ellipse
                      class="cls-1"
                      cx="999.58"
                      cy="522.85"
                      rx="9.26"
                      ry="11.17"
                      transform="translate(-59.98 910) rotate(-47.68)"
                    />
                  </clipPath>
                  <linearGradient
                    id="linear-gradient-5"
                    x1="77.71"
                    y1="65"
                    x2="77.71"
                    y2="18.24"
                    gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                    xlink:href="#linear-gradient"
                  />
                  <linearGradient
                    id="linear-gradient-6"
                    x1="100.17"
                    y1="0.68"
                    x2="100.17"
                    y2="46.08"
                    xlink:href="#linear-gradient-2"
                  />
                  <linearGradient
                    id="linear-gradient-7"
                    x1="137.53"
                    y1="13.51"
                    x2="137.53"
                    y2="58.91"
                    xlink:href="#linear-gradient-2"
                  />
                  <linearGradient
                    id="linear-gradient-8"
                    x1="158.19"
                    y1="77.83"
                    x2="158.19"
                    y2="31.07"
                    gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                    xlink:href="#linear-gradient"
                  />
                  <linearGradient
                    id="linear-gradient-9"
                    x1="1044.4"
                    y1="586.23"
                    x2="1075.74"
                    y2="586.23"
                    gradientTransform="translate(1385.21 -580.69) rotate(76.63)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#ffe7db" />
                    <stop offset="0.33" stop-color="#ffe4d9" />
                    <stop offset="0.56" stop-color="#ffdbd1" />
                    <stop offset="0.76" stop-color="#ffcbc5" />
                    <stop offset="0.94" stop-color="#ffb5b4" />
                    <stop offset="1" stop-color="#ffadad" />
                  </linearGradient>
                  <linearGradient
                    id="linear-gradient-10"
                    x1="0"
                    y1="65.96"
                    x2="20.18"
                    y2="65.96"
                    gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                    xlink:href="#linear-gradient-9"
                  />
                  <linearGradient
                    id="linear-gradient-11"
                    x1="76.6"
                    y1="169.37"
                    x2="131.28"
                    y2="169.37"
                    xlink:href="#linear-gradient-2"
                  />
                </defs>
                <title>Untitled-1</title>
                <g class="cls-2">
                  <g id="Layer_1" data-name="Layer 1">
                    <ellipse
                      class="cls-3"
                      cx="47.84"
                      cy="233.34"
                      rx="33.15"
                      ry="6.49"
                    />
                    <ellipse
                      class="cls-3"
                      cx="173.98"
                      cy="233.34"
                      rx="33.15"
                      ry="6.49"
                    />
                    <svg
                      id="organic-blob"
                      width="300"
                      height="300"
                      xmlns="http://www.w3.org/2000/svg"
                      filter="url(#goo)"
                    >
                      <defs>
                        <filter id="goo">
                          <!-- tympanus.net/codrops/creative-gooey-effects -->
                          <feGaussianBlur
                            in="SourceGraphic"
                            stdDeviation="10"
                            result="blur"
                          />
                          <feColorMatrix
                            in="blur"
                            mode="matrix"
                            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                            result="goo"
                          />
                          <feComposite
                            in="SourceGraphic"
                            in2="goo"
                            operator="atop"
                          />
                        </filter>
                      </defs>
                      <circle id="Circle1"></circle>
                      <circle id="Circle2"></circle>
                      <circle id="Circle3"></circle>
                      <circle id="Circle4"></circle>
                    </svg>
                    <!-- <path
                      class="cls-4 my-blob-animation-1"
                      d="M941.49,426.63c58.51-4,85.65,25.71,100.68,65.52s37.29,53.51,21.92,99.33S993.2,643.36,971.5,638s-44.2-19.24-71.22-29.66c-40.19-15.51-50.12-35.91-50.92-56-1.14-28.43,13.85-31.6,18.67-62.77C873.8,452.21,895.72,429.74,941.49,426.63Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-3 my-blob-animation"
                      d="M862.27,474.66c-28.7,46.08-5.21,104.55,26,134.66,27.85,26.87,76.72,45.52,103.67,28.34,19.69-12.56,14.78-36,44.67-59.67,19.42-15.37,29-11.4,35.33-22.33,15.11-26.11-16.33-88.85-67.33-112.34C962,423.69,892.85,425.57,862.27,474.66Z"
                      transform="translate(-841.6 -420.15)"
                    /> -->
                    <path
                      class="cls-5"
                      d="M1058.07,464.87a17.18,17.18,0,0,0-16.41,22.27l-7.9,6.8,11-1.06a17.17,17.17,0,1,0,13.33-28Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <polygon
                      class="cls-6"
                      points="113.16 109.6 56.68 109.6 63.4 73.84 119.88 73.84 113.16 109.6"
                    />
                    <polygon
                      class="cls-7"
                      points="111.44 83.42 94.69 83.42 94.82 82.71 111.57 82.71 111.44 83.42"
                    />
                    <polygon
                      class="cls-7"
                      points="110.89 86.34 94.14 86.34 94.27 85.63 111.02 85.63 110.89 86.34"
                    />
                    <polygon
                      class="cls-7"
                      points="110.34 89.26 93.59 89.26 93.72 88.55 110.47 88.55 110.34 89.26"
                    />
                    <polygon
                      class="cls-7"
                      points="109.79 92.18 93.04 92.18 93.17 91.47 109.92 91.47 109.79 92.18"
                    />
                    <polygon
                      class="cls-7"
                      points="109.24 95.1 92.49 95.1 92.63 94.39 109.38 94.39 109.24 95.1"
                    />
                    <polygon
                      class="cls-7"
                      points="108 101.72 102.44 101.72 102.57 101.01 108.13 101.01 108 101.72"
                    />
                    <path
                      class="cls-8"
                      d="M908,496.09a1,1,0,0,1-1,.8.65.65,0,0,1-.65-.8,1,1,0,0,1,1-.8A.65.65,0,0,1,908,496.09Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M911.54,496.09a1,1,0,0,1-.95.8.64.64,0,0,1-.64-.8,1,1,0,0,1,.94-.8A.65.65,0,0,1,911.54,496.09Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M915.1,496.09a1,1,0,0,1-1,.8.64.64,0,0,1-.64-.8,1,1,0,0,1,.94-.8A.65.65,0,0,1,915.1,496.09Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <g class="cls-9">
                      <ellipse
                        class="cls-4"
                        cx="920.45"
                        cy="511.32"
                        rx="12.07"
                        ry="10"
                        transform="translate(-946.01 332.73) rotate(-42.32)"
                      />
                      <g class="cls-10">
                        <path
                          class="cls-11"
                          d="M924.66,508.84a4.73,4.73,0,0,1-4.45,3.75,3,3,0,0,1-3.05-3.75,4.73,4.73,0,0,1,4.46-3.75A3,3,0,0,1,924.66,508.84Z"
                          transform="translate(-841.6 -420.15)"
                        />
                        <path
                          class="cls-11"
                          d="M927.08,522.3a11,11,0,0,1-10.33,8.7c-4.81,0-8-3.89-7.07-8.7A11,11,0,0,1,920,513.61C924.82,513.61,928,517.5,927.08,522.3Z"
                          transform="translate(-841.6 -420.15)"
                        />
                      </g>
                    </g>
                    <polygon
                      class="cls-12"
                      points="113.16 109.76 56.68 109.76 63.4 145.52 119.88 145.52 113.16 109.76"
                    />
                    <polygon
                      class="cls-13"
                      points="126.22 119.85 178.49 119.85 172.27 152.94 120 152.94 126.22 119.85"
                    />
                    <path
                      class="cls-8"
                      d="M893.07,641.84l-.66,11h19.76s-8.06-5.38-11.67-7.14l-.4-3.9Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-14"
                      d="M899.18,554l1.32,90.75h-7.8s-8.62-35.55-4.38-45.93L880.8,554Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M899.18,554H880.8l7.52,44.82c-1.47,3.6-1.39,10.22-.67,17.33l12.66,15.45Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M872.2,643.25l-3,11h21.57s-9.13-5.37-12.73-7.14l.66-3.9Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-14"
                      d="M899.73,552.93l-7.68,45.49-12.9,46.37H871.4s2.48-44.51,10.48-49.15l-6.32-42.71Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <polygon
                      class="cls-5"
                      points="57.6 135.88 58.13 132.78 33.96 132.78 34.51 136.47 57.66 139.43 57.6 135.88"
                    />
                    <path
                      class="cls-15"
                      d="M912.17,521.5s4.79-7.75,12.29-9.51l-2.94,3.55s1.4,3.68-.37,5.52a7.75,7.75,0,0,1-4.64,2l-2,2.21Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-11"
                      d="M893.18,515.17l6.55,13.4,12.88-8.69,3.24,4.93s-11.19,21.06-16.12,19.51-9.2-12.66-9.2-12.66Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M899.73,528.57l-6.55-13.4-2.65,16.49s4.27,11.11,9.2,12.66a1.51,1.51,0,0,0,.36.06L906,524.31Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M898.19,483.48s.76,6.85,1.54,8.5h-2.15s.16,6.57-1.16,7.4c-.95.6-3.72,0-4.37.78s-1.59,6.23-1.59,6.23l-8.56-.71.88-7.68s-4.8-5.74-3.36-12.81S896.92,476.91,898.19,483.48Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M887.48,494.89l-6.78-.34a17.48,17.48,0,0,0,2.08,3.45l-.88,7.68,8.56.71s.94-5.46,1.59-6.23a2.07,2.07,0,0,1,1.41-.43C890.2,498.8,887.22,495.06,887.48,494.89Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-16"
                      d="M898.47,485.73s-1.79,1.07-5.44-1.33c0,0-2.43,4.38-4.56,3.83,0,0-.11,3.13-.55,3.35s-1.36-2.69-2.28-2.87-1.84.74-.89,3.46,2.73,2.72,2.73,2.72l-4.7,3.11s-3.7-1.19-4.43-4.25c0,0-4.71-4.6-1.88-7.84,0,0-3.13-2.65,4.16-5.85,0,0,1.71-6.35,5.13-3.42,0,0,6.29-4.69,7.86-.52,0,0,8.1-.66,8.61,3.72s-1.43,5.45-1.43,5.45.44,3.6-1.8,3.82Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-17"
                      d="M876,514.58a4.79,4.79,0,0,1-3.54-5.59c.74-4.57,6.73-6.63,19-3.76,1.45.34,2.58,2.73,1.62,4.79,0,0,3.94,9.68,5.16,17.63s1.87,16.23,3.2,20.09.22,8.17-3.43,8.17h-22.4c-4.43,0-5-6.18-3.22-12.58S876.69,519.18,876,514.58Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-11"
                      d="M885.93,512.08c7,1.49,2.13,15.35.73,19.32s-2.94,7.51-.73,10.6a47.78,47.78,0,0,0,6.12,6.52L889.44,554s-14.57-1.88-18-6.19-1.5-13.94,1.5-20.53S880.74,511,885.93,512.08Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-18"
                      d="M889,555h0a.35.35,0,0,1-.17-.46l3.56-7.69a.34.34,0,0,1,.45-.17h0a.34.34,0,0,1,.17.46l-3.55,7.69A.35.35,0,0,1,889,555Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-14"
                      d="M1006.08,545.8l-2.59,3.69s-3,40.14-2.16,51.62,4,45.42,4,45.42l-14.51,7,21.2-1.09s-2.14-4-.67-14.63c2.32-16.67,1.55-26.94-1.1-35.11,0,0,8.61-45.49,11.26-55.43Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1014.93,556.25l-13.14,50.85c1.17,14.33,3.57,39.43,3.57,39.43l-14.51,7,21.2-1.09s-2.14-4-.67-14.63c2.32-16.67,1.55-26.94-1.1-35.11,0,0,4.13-21.82,7.55-38.53Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M1012.29,629.88h-8.49c.84,9.14,1.56,16.65,1.56,16.65l-14.51,7,21.2-1.09s-2.14-4-.67-14.63C1011.78,635,1012.07,632.34,1012.29,629.88Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-14"
                      d="M1013,544.36s4.37,43.89,5.89,55.29,9.92,41.87,10.14,45-4.86,13.93-4.86,13.93,11-7.3,13.69-10.84c0,0-4.26-4.19-4.12-8.17s-1.4-31.85-5.59-39.88c0,0,2.65-27.16,3.31-32.72s.88-19-1.55-22.57Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1029.93,544.36H1013s.08.76.21,2.1l-7.15-.66-2.59,3.69s-.08,1.13-.22,3.06c9.37,2.05,22.37.69,28.46-.16C1031.47,548.87,1030.92,545.8,1029.93,544.36Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-19"
                      d="M1014.25,472.7c7.18-.19,8.06,6.3,9.17,13.14s1.88,9.28,4.42,12.48.88,5.85,3.2,9.05,10.71,14.8.55,19.21-16.45.45-19.43-5.52-4.2-9.71-7.84-12.58-3.76-8.62-1.44-12.59,1.77-7.18,1-11.81S1006.08,472.92,1014.25,472.7Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1018.91,509c.27-6.75-2.31-8.33-4.64-13.83s-8.19-9.05-8.19-9.05a5.8,5.8,0,0,0-1.74,1c.41,3.14.32,5.74-1.46,8.79-2.32,4-2.21,9.72,1.44,12.59a17.85,17.85,0,0,1,4.88,6.48C1014.41,515.4,1018.71,514.12,1018.91,509Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M1006.15,505.19s-2.57,1-4,6.49-5.82,23.7-5.82,23.7l-13.24,17a17.3,17.3,0,0,0-4.79,1.18,8,8,0,0,0-2.87,2.72,24.59,24.59,0,0,0,3.24-.73l-3.24,5.15h6.18a23,23,0,0,0,5-6.4l16.49-16.79s3.24-16.63,4.56-20.38S1006.15,505.19,1006.15,505.19Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1006.15,505.19s-2.57,1-4,6.49-5.82,23.7-5.82,23.7l-4.7,6,11.48-3.9s3.24-16.63,4.56-20.39S1006.15,505.19,1006.15,505.19Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M1006.08,486.12a25.5,25.5,0,0,0,6.19-2.87s-1.16,1.82-.5,1.82,4.64-4.2,4.64-4.2-.55,8.23,3.53,11.93v9.82h-7.07l-.14-4.24a6.18,6.18,0,0,1-1.61.43c-.55,0-3.71-3.47-3.54-7.06C1007.69,489.32,1006.8,486.45,1006.08,486.12Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1012.73,498.38l.13,3.89c5.12-1.28,5.57-8.52,5.57-8.52A9,9,0,0,1,1012.73,498.38Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M1011.44,503.4v-2.6h9.49s-.27,2.38.56,2.93,5.57,1.6,6.73,3.75,2.42,11.88.88,20-1.43,9.65-.16,12.47,3.2,6.68,3.42,9.49c0,0-18.49,3.32-28.87,0,0,0,4.8-11.76,4.21-17.64s-4.34-7.88-4.93-11.34,2.28-8.46,2.28-8.46-.14-5.67,1.1-6.86C1007.17,504.22,1011.44,503.4,1011.44,503.4Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-5"
                      d="M1032.36,549.49c-.22-2.81-2.15-6.68-3.42-9.49-1.17-2.6-1.35-4.08-.16-10.73l-24.83-6h0c1.34,2.17,3.34,4.38,3.75,8.55.59,5.88-4.21,17.64-4.21,17.64C1013.87,552.81,1032.36,549.49,1032.36,549.49Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M1027.33,506.46s-3,1.68-2.81,7.48,2,17.61,2,17.61l-19.83-.94s-5.14-3.36-7.24-3.86-6.95-.28-7.12.83,5.08,2.81,5.08,2.81l2.32,2.38s-3.86-1.22-4-.61,4.36,3.86,10.43,2.32c0,0,25.35,4.44,27,3.31,2-1.38-1-18.33-1.38-20.87S1030.23,508.44,1027.33,506.46Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-15"
                      d="M1029.05,644.61c.22,3.09-4.86,13.93-4.86,13.93s11-7.3,13.69-10.84c0,0-4.26-4.19-4.12-8.17.07-1.67-.17-7.56-.78-14.43l-8.09,1.85C1027,635.67,1029,643.16,1029.05,644.61Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-19"
                      d="M1010.92,646.53h-5.56l-14.51,7,21.2-1.09S1011.14,650.67,1010.92,646.53Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-19"
                      d="M1037.88,647.7a18.45,18.45,0,0,1-3.23-4.51c-2.8,3-5.6,1.42-5.6,1.42.22,3.09-4.86,13.93-4.86,13.93S1035.23,651.24,1037.88,647.7Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <polygon
                      class="cls-20"
                      points="126.22 119.77 178.49 119.77 172.27 86.67 120 86.67 126.22 119.77"
                    />
                    <polygon
                      class="cls-7"
                      points="127.81 95.53 143.31 95.53 143.19 94.87 127.69 94.87 127.81 95.53"
                    />
                    <polygon
                      class="cls-7"
                      points="128.32 98.23 143.82 98.23 143.7 97.58 128.19 97.58 128.32 98.23"
                    />
                    <polygon
                      class="cls-7"
                      points="128.83 100.94 144.33 100.94 144.21 100.28 128.7 100.28 128.83 100.94"
                    />
                    <polygon
                      class="cls-7"
                      points="129.33 103.64 144.84 103.64 144.71 102.98 129.21 102.98 129.33 103.64"
                    />
                    <polygon
                      class="cls-7"
                      points="129.84 106.34 145.35 106.34 145.22 105.68 129.72 105.68 129.84 106.34"
                    />
                    <polygon
                      class="cls-7"
                      points="131 112.47 136.14 112.47 136.02 111.81 130.87 111.81 131 112.47"
                    />
                    <path
                      class="cls-8"
                      d="M1011.12,508.76a.94.94,0,0,0,.88.74.59.59,0,0,0,.6-.74.94.94,0,0,0-.88-.74A.6.6,0,0,0,1011.12,508.76Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M1007.83,508.76a.93.93,0,0,0,.87.74.59.59,0,0,0,.6-.74.93.93,0,0,0-.87-.74A.59.59,0,0,0,1007.83,508.76Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-8"
                      d="M1004.53,508.76a.94.94,0,0,0,.88.74.6.6,0,0,0,.6-.74.94.94,0,0,0-.88-.74A.59.59,0,0,0,1004.53,508.76Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <g class="cls-9">
                      <ellipse
                        class="cls-8"
                        cx="999.58"
                        cy="522.85"
                        rx="9.26"
                        ry="11.17"
                        transform="translate(-901.58 489.84) rotate(-47.68)"
                      />
                      <g class="cls-21">
                        <ellipse
                          class="cls-11"
                          cx="999.15"
                          cy="520.56"
                          rx="3.16"
                          ry="3.81"
                          transform="translate(-900.02 488.77) rotate(-47.68)"
                        />
                        <path
                          class="cls-11"
                          d="M993.45,533a10.15,10.15,0,0,0,9.56,8.05,6.48,6.48,0,0,0,6.53-8.05,10.16,10.16,0,0,0-9.56-8A6.49,6.49,0,0,0,993.45,533Z"
                          transform="translate(-841.6 -420.15)"
                        />
                      </g>
                    </g>
                    <rect
                      class="cls-22"
                      x="69.14"
                      width="17.15"
                      height="73.84"
                    />
                    <rect
                      class="cls-23"
                      x="91.6"
                      width="17.15"
                      height="73.84"
                    />
                    <rect
                      class="cls-24"
                      x="128.96"
                      y="12.83"
                      width="17.15"
                      height="73.84"
                    />
                    <rect
                      class="cls-25"
                      x="149.61"
                      y="12.83"
                      width="17.15"
                      height="73.84"
                    />
                    <path
                      class="cls-11"
                      d="M959.29,476.35a1.85,1.85,0,1,0,1.84,1.85A1.85,1.85,0,0,0,959.29,476.35Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-11"
                      d="M959.29,471.71a6.43,6.43,0,0,0-4.53,1.86,1.19,1.19,0,0,0,0,1.65h0a1.18,1.18,0,0,0,1.68.06,4,4,0,0,1,5.72,0,1.17,1.17,0,0,0,1.67-.06h0a1.18,1.18,0,0,0,0-1.65A6.42,6.42,0,0,0,959.29,471.71Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-11"
                      d="M959.29,459.76a18.32,18.32,0,0,0-12.7,5.11,1.18,1.18,0,0,0,0,1.66l.11.12a1.19,1.19,0,0,0,1.67.07,15.79,15.79,0,0,1,21.87,0,1.19,1.19,0,0,0,1.67-.07l.11-.12a1.18,1.18,0,0,0,0-1.66A18.3,18.3,0,0,0,959.29,459.76Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-11"
                      d="M959.29,466.26a11.9,11.9,0,0,0-8.15,3.23,1.31,1.31,0,0,0-.07,1.83h0a1.29,1.29,0,0,0,1.81,0,9.36,9.36,0,0,1,12.82,0,1.28,1.28,0,0,0,1.8,0h0a1.3,1.3,0,0,0-.07-1.83A11.87,11.87,0,0,0,959.29,466.26Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <circle
                      class="cls-26"
                      cx="1060.07"
                      cy="586.23"
                      r="15.67"
                      transform="translate(-597.06 1061.81) rotate(-76.63)"
                    />
                    <circle class="cls-27" cx="10.09" cy="65.96" r="10.09" />
                    <path
                      class="cls-14"
                      d="M1056.66,462a17.19,17.19,0,0,0-16.4,22.28l-7.9,6.8,11-1.07a17.17,17.17,0,1,0,13.32-28Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <path
                      class="cls-28"
                      d="M1066.45,477.25h-1.26a2.7,2.7,0,0,0-2.7-2.7,2.84,2.84,0,0,0-.66.09,4.5,4.5,0,0,0-8.18-.88,3.53,3.53,0,0,0-.72-.08,3.89,3.89,0,0,0-3.86,3.57h-.45a2.83,2.83,0,0,0,0,5.65h17.83a2.83,2.83,0,1,0,0-5.65Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <rect
                      class="cls-29"
                      x="76.6"
                      y="140.79"
                      width="54.68"
                      height="57.17"
                      rx="3.25"
                      ry="3.25"
                    />
                    <rect
                      class="cls-11"
                      x="74.8"
                      y="138.89"
                      width="54.68"
                      height="57.17"
                      rx="3.25"
                      ry="3.25"
                    />
                    <path
                      class="cls-8"
                      d="M967.84,559H919.66a3.26,3.26,0,0,0-3.25,3.26V567h54.68V562.3A3.25,3.25,0,0,0,967.84,559Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <circle class="cls-11" cx="78.44" cy="142.97" r="1.09" />
                    <circle class="cls-11" cx="83.38" cy="142.97" r="1.09" />
                    <path
                      class="cls-11"
                      d="M931,563.12a1.1,1.1,0,1,1-1.1-1.09A1.09,1.09,0,0,1,931,563.12Z"
                      transform="translate(-841.6 -420.15)"
                    />
                    <rect
                      class="cls-11"
                      x="121.16"
                      y="141.51"
                      width="3.5"
                      height="0.46"
                    />
                    <rect
                      class="cls-11"
                      x="121.16"
                      y="142.63"
                      width="3.5"
                      height="0.46"
                    />
                    <rect
                      class="cls-11"
                      x="121.16"
                      y="143.76"
                      width="3.5"
                      height="0.46"
                    />
                    <rect
                      class="cls-5"
                      x="81.69"
                      y="152.92"
                      width="42.47"
                      height="15.52"
                    />
                    <rect
                      class="cls-30"
                      x="80.91"
                      y="151.96"
                      width="42.47"
                      height="15.52"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="155.72"
                      x2="118.99"
                      y2="155.72"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="158.38"
                      x2="118.99"
                      y2="158.38"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="161.05"
                      x2="118.99"
                      y2="161.05"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="163.72"
                      x2="99.33"
                      y2="163.72"
                    />
                    <rect
                      class="cls-5"
                      x="81.69"
                      y="174.66"
                      width="42.47"
                      height="15.52"
                    />
                    <rect
                      class="cls-30"
                      x="80.91"
                      y="173.7"
                      width="42.47"
                      height="15.52"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="177.46"
                      x2="118.99"
                      y2="177.46"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="180.12"
                      x2="118.99"
                      y2="180.12"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="182.79"
                      x2="118.99"
                      y2="182.79"
                    />
                    <line
                      class="cls-31"
                      x1="83.91"
                      y1="185.46"
                      x2="99.33"
                      y2="185.46"
                    />
                    <circle class="cls-32" cx="128.08" cy="165.83" r="10.01" />
                    <polygon
                      class="cls-11"
                      points="134.43 164.37 123.83 161.71 126.49 172.31 128.41 170.38 139.82 182.93 145.04 177.71 132.5 166.3 134.43 164.37"
                    />
                    <line
                      class="cls-33"
                      x1="202.8"
                      y1="129.99"
                      x2="208.01"
                      y2="129.99"
                    />
                    <line
                      class="cls-33"
                      x1="205.4"
                      y1="127.39"
                      x2="205.4"
                      y2="132.6"
                    />
                    <line
                      class="cls-33"
                      x1="83.68"
                      y1="125.65"
                      x2="88.89"
                      y2="125.65"
                    />
                    <line
                      class="cls-33"
                      x1="86.29"
                      y1="123.05"
                      x2="86.29"
                      y2="128.26"
                    />
                    <line
                      class="cls-33"
                      x1="140.71"
                      y1="197.96"
                      x2="145.92"
                      y2="197.96"
                    />
                    <line
                      class="cls-33"
                      x1="143.31"
                      y1="195.35"
                      x2="143.31"
                      y2="200.56"
                    />
                    <line
                      class="cls-33"
                      x1="16.29"
                      y1="126.49"
                      x2="21.5"
                      y2="126.49"
                    />
                    <line
                      class="cls-33"
                      x1="18.9"
                      y1="123.88"
                      x2="18.9"
                      y2="129.09"
                    />
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <!-- banner section end -->

      <!-- service section start -->
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-9 text-center mb-5 mx-auto">
              <span class="lable lable-success mb-3">What we do?</span>
              <h2 class="mb-3">
                Let's make designing easy and performance fast
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="row">
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-teal rounded-circle mb-4">
                      <i class="fas fa-code mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Web Design and Development</h5>
                      <p class="text-muted mb-0">
                        A Website is like your business identity.
                         We develop unique and stunning websites and web applications that ultimately comply with your business needs. 
                        <!-- Web Applications provides security of centralised data, easy to backup and increases your reach among the customers. -->
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-orange rounded-circle mb-4">
                      <i class="fas fa-terminal mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Software Development</h5>
                      <p class="text-muted mb-0">
                        We develop interactive and user-friendly software that solves your day to day business problems. 
                        Hence, making it easier to use for both the end-user and business management.
                        <!-- The software is developed by keeping your business platform at an upper level. -->
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-pink rounded-circle mb-4">
                      <i class="fas fa-mobile mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Mobile Application</h5>
                      <p class="text-muted mb-0">
                        <!-- Mobile Phones have become an important thing and so does the Mobile Applications. -->
                        <!-- Mobile Applications create a connection between the brands and the customers. -->
                    We, at Grevity build cross-platform applications that save budget with a native performance for both IOS and Android platforms.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-blue rounded-circle mb-4">
                      <i class="fas fa-user-secret mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Call Masking</h5>
                      <p class="text-muted mb-0">
                        <!-- To develop an impressive brand image and high loyalty in engagement -->
                        <!-- by --> Make your business phone numbers private and ensure the customer's privacy
                        by facilitating them to connect with the business executive without revealing their personal numbers. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-red rounded-circle mb-4">
                      <i class="fas fa-laptop mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Desktop Applications</h5>
                      <p class="text-muted mb-0">
                        You can bring your web experience as a desktop application for
                        both macOS and Windows with the power of Electron through our 
                        Desktop Application service. <!--Desktop Application gives users
                        easy access to the software and functionalities. --> 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-green rounded-circle mb-4">
                      <i class="fas fa-phone-square mt-5 pt-4" ></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Custom IVR</h5>
                      <p class="text-muted mb-0">
                        Enhance your mobile customer's experience by Custom Interactive Voice Response (IVR).<!-- an important aspect of every business-->
                        It allows a computer to interact with humans through the use of voice.
                         <!-- Depending on your business needs, we will build and provide you a suitable IVR flow. -->
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-purple rounded-circle mb-4">
                      <i class="fa fa-chart-line mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Digital Marketing</h5>
                      <p class="text-muted mb-0">
                        <!-- Digital Marketing has become an important aspect in the growth of your business and its reach among people.  -->
                        Grow your business on a large scale with a wide range of Digital Marketing Solutions by Grevity. 
                        We provide different types of Digital Marketing Solutions such as SEO, PPC, SM Marketing, etc. 
                        <!-- Hence, designing an internet marketing campaign that can help you reach your goals. -->
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-yellow rounded-circle mb-4">
                      <i class="fas fa-edit mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">UI/UX Development</h5>
                      <p class="text-muted mb-0">
                        <!-- Websites and Applications that respond quickly and efficiently acquire superior success.  -->
                        Good UI/UX design ensures that users would be able to navigate a digital product in the most efficient fashion,
                         while also attracting more return traffic to the website or the app.
                          <!-- At, Grevity We have experienced UI/UX Developers-->We first discover, then solves, and finally craft a unique end-product. 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-5">
                  <div class="card border-0 align-items-center">
                    <span class="icon icon-xl icon-cyan rounded-circle mb-4">
                      <i class="fas fa-code-branch mt-5 pt-4"></i>
                    </span>
                    <div class="text-center">
                      <h5 class="h5">Testing & QA</h5>
                      <p class="text-muted mb-0">
                        The most crucial stage of development is testing. 
                        <!-- It allows gauging an application's ability to handle the pressure and traffic.  -->
                        <!-- It, also helps the UI/UX design to be complemented further by making it error-free.  -->
                        At, Grevity we have professional testers, who scrutinize the end-product from every 
                        angle possible to sieve out the bugs out of the seamless performance.    
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- service section end -->

      <!-- client section start -->
      <section class="industries">
        <div class="container-fluid bg-light p-5" style="width: 100%;">
          <div class="row" >
              <div class="col-lg-6 mb-4">
                  <h2>
                      Industries we are especially good at
                  </h2>
                  <p>Don't be afraid if your industry is not listed.
                      This list is too long.
                  </p>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem;  border-radius: 0%;">
                      <img src="\assets\images\Startupn.jpg" class="card-img-top" alt="Startup">
                      <div class="card-body">
                        <h5 class="card-title ">STARTUP</h5> 
                        <p class="card-text text-muted">Grevity is always ready to discuss your business goals and assist with prioritizing the features to build a fully functional MVP</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem; border-radius: 0%;">
                      <img src="\assets\images\Financer.jpg" class="card-img-top" alt="Finance">
                      <div class="card-body">
                          <h5 class="card-title ">FINANCE</h5>  
                        <p class="card-text text-muted">We know how finance works. And we also know how to build secure and stable solutions</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row"> 
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem;  border-radius: 0%;">
                      <img src="\assets\images\Education.jpg" class="card-img-top" alt="Education">
                      <div class="card-body">
                        <h5 class="card-title ">EDUCATION</h5>  
                        <p class="card-text text-muted">Learning Management Systems (LMS), School Management Systems (SMS) — this is what we are experienced in</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem; margin: 2px; border-radius: 0%;">
                      <img src="\assets\images\Entertainment.jpg" class="card-img-top" alt="Entertainment">
                      <div class="card-body">
                        <h5 class="card-title ">ENTERTAINMENT</h5>  
                        <p class="card-text text-muted">Mobile games, sports applications, content distribution and other solutions that won’t let your users stay indifferent</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem;  border-radius: 0%;">
                      <img src="\assets\images\Marketplaces.jpg" class="card-img-top" alt="Marketplaces">
                      <div class="card-body">
                        <h5 class="card-title ">MARKETPLACES</h5>  
                        <p class="card-text text-muted">Most dependable online arena for connecting a buyer to a seller</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card text-left bg-white h-100" style="max-width: 18rem; margin: 2px; border-radius: 0%;">
                      <img src="\assets\images\Retail & Wholesale.jpg" class="card-img-top" alt="Retail and Wholesale">
                      <div class="card-body">
                          <h5 class="card-title ">RETAIL & WHOLESALE</h5>  
                        <p class="card-text text-muted">Custom systems with multiple integrations to support business and reduce operational costs</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </section>       
      <!-- client section end -->

    <!-- </main> -->
    <!-- main section end -->

    <!-- footer section start -->

      <div class="container py-5 my-3">
        <div class="row justify-content-md-between">
          <div class="col-sm-4 col-md-4 col-lg-2 mb-3 mb-lg-0">
            <h6 class="h6 font-weight-semi-bold">About</h6>
            <ul class="list-group list-group-borderless">
              <li class="list-group-item">
                <a class="text-muted" href="#">Team</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Locations</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Privacy</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-2 mb-3 mb-lg-0">
            <h6 class="h6 font-weight-semi-bold">Features</h6>
            <ul class="list-group list-group-borderless">
              <li class="list-group-item">
                <a class="text-muted" href="#">Custom IVR</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Development</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Call Masking</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-2 mb-4 mb-lg-0">
            <h6 class="h6 font-weight-semi-bold">Resources</h6>
            <ul class="list-group list-group-borderless">
              <li class="list-group-item">
                <a class="text-muted" href="#">Resource</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Resource name</a>
              </li>
              <li class="list-group-item">
                <a class="text-muted" href="#">Another resource</a>
              </li>
            </ul>
          </div>
          <div class="col-md-7 col-lg-4">
            <h6 class="h6 font-weight-semi-bold">
              We are driven to deliver results for all your businesses.
            </h6>
            <button
              type="button"
              class="btn btn-dark border-0 text-left mb-2 mr-1"
            >
              <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block small">Download on the</span>
                  <strong class="font-size-1">App Store</strong>
                </span>
              </span>
            </button>
            <button type="button" class="btn btn-dark border-0 text-left mb-2">
              <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block small">Get it on</span>
                  <strong class="font-size-1">Google Play</strong>
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <hr>
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 ">
  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-5 mb-4">
        <a class="mb-3 " href="#">
          <img class="nav-logo" src="../assets/images/logo.png" alt="Last" />
          <span
            class="nav-brand"
            style="
              margin-top: 18px;
              font-weight: 600;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            "
            >Grevity</span
          >
        </a>
        <p style="margin-top:8px">We don't want to push our ideas on to customers, 
        we simply want to make what they want.
        Rather than focusing on competition, we focus on customer.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Docs</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Development</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Testing</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-5 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
   
          <i class="fas fa-envelope mr-3"></i> gurkaran@grevity.in</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 8588948276</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 9953579196</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="text-center ">
    <span style=" font-size: 1.5em;margin-top: 38px; ">
      <a href="#" title="FACEBOOK | GREVITY"><i style="color: #888; padding: 0 0.6em;" class="fab fa-facebook"></i></a>
      <a href="#" title="LINKEDIN | GREVITY"><i style="color: #888; padding: 0 0.6em;" class="fab fa-linkedin"></i></a>
      <a href="https://github.com/grevity" title="GITHUB | GREVITY"><i style="color: #888; padding: 0 0.6em;" class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/grevity.pvt.ltd/" title="INSTAGRAM | GREVITY"><i style="color: #888; padding: 0 0.6em;" class="fab fa-instagram"></i></a>
      <a href="mailto:gurkaran@grevity.in" title="Mail Us | gurkaran@grevity.in"><i style="color: #888; padding: 0 0.6em;" class="fas fa-envelope"></i></a>
    </span>
    <span>
      <br>
      <p class="footer-copyright text-black-50" style="margin-top: 34px;margin-bottom: 12px;">
        © Grevity 2020. All Rights Reserved.
      </p>
    </span> 
    <!-- <div class="footer-copyright text-center text-black-50 py-3" >© Grevity 2020. All Rights Reserved.
    </div> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- footer section end -->

    <script src="../assets/js/main.js"></script>
  </body>
</html>
